
.box {
    /* width: 480px; */
    /* height: 120px; */
    padding: .75%;
    margin-top: 10px;
    border-radius: 20px;
    /* border: 2px solid rgb(201, 201, 201); */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.40);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row;
}

.busca-paciente input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid black;
}

.box span {
    font-weight: 500;
}

.gap-intern {
    display: flex;
    flex-direction: column;
    gap: .15rem;
}

.box-blue {
    background-color: #e1e1e1;
    /* border: 2px solid black; */
}

.box-green {
    background-color: #e1e1e1;
    /* border: 2px solid black; */
}



.img-responsivo {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-responsivo img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    margin-bottom: 5px;
}

.img-responsivo p {
    text-align: center;
}

.botao {
    width: 90%;
    margin: 0 auto;
}

.box-macro {
    top: 50px;
    right: 20px;
    position: relative;
    width: 350px;
    padding: 5%;
    border: 2px solid black;
    background-color: white;
    z-index: 90;
    transition: all .6s ease-out;
    border-radius: 10px;
    /* box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.40); */
}


.box-consulta:hover {
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.40);
    background-color: rgb(226, 226, 226);
}

.box-consulta {
    border-radius: 10px;
    padding: 17% 1% 5% 5%;
    position: relative;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 0.5px 0.5px 10px 0px rgba(65, 65, 65, 0.4);
    background-color: white;
    transition: all .6s ease-out;
    border: 1px solid rgb(165, 165, 165);

}

.macro-blue {
    background-color: #4ca6ff;
}

.macro-green {
    background-color: #ffb04f;
}

.historico {
    margin: 5% auto;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.historico h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
}


.historico-presc {
    display: flex;
    /* justify-content: center; */
    align-items: start;
    flex-direction: column;
    /* gap: 1.15rem; */
}

.historico-presc h1 {
    margin: 35px 0;
    font-weight: 800;
    color: white;
    font-size: 50px;
    border-bottom: 3px solid black;
    font-family: 'Archivo', sans-serif;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
}

.camera {
    display: flex;
    gap: 3rem;
    align-items: center;
    width: 100%;
}

.camera span {
    font-size: 15px;
    margin-left: 5px;
}

.camera .icon i {
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
}

.camera .icon i:hover {
    color: black;
}

.box-presc {
    margin-bottom: 3%;
    width: 70%;
    border-radius: 50px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-presc p {
    margin-left: 5%;

}

.dsc {
    width: 62%;
}

.box-pre {
    width: 35%;
    padding: 2%;
    border-radius: 50px;
    background-color: #fba030;
    box-shadow: 1px 0.5px 10px 0px rgba(65, 65, 65, 0.4);
    transition: all 0.6s;
}

.box-pre p {
    margin: 1.5% 0;
}

.box-pre:hover {
    background-color: #e57e00;
    box-shadow: 3px 0.5px 10px 0px rgba(0, 0, 0, 0.5);
}

@media(min-width:375px) {
    p {
        font-size: 11px;
    }

    .container-flex {
        flex-direction: column;
    }

    .box-consulta {
        width: 290px;
        /* top: 30px; */
    }

    .box-macro {
        width: 290px;
        top: 35px;
    }

    .box-presc {
        width: 100%;
    }
    .box-presc p {
        font-size: 8px;
    }
    .historico {
        margin: 15% auto;
        gap: 1.5rem;
    }

    .historico-presc {
        gap: 1.5rem;

    }

    .historico-presc h1 {
        margin: 40px auto 8px auto;
    }
    .box-pre {
        width: 50%;
    }
    .camera {
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 5px;
    }
    .camera .icon  {
        font-size: 15px;
        color: black;
    }
    .camera span {
        color: rgba(0, 0, 0, 0.9);
        font-weight: 600;
    /* -webkit-text-stroke: 0.4px black; */

    }
    .footer-end {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    footer {
        position: absolute;
        /* bottom: 0; */
        width: 100%;
    }
}

@media(min-width:1200px) {
    .box {
        padding: .75%;
        width: 480px;
    }

    p {
        font-size: 13px;
    }

    .container-flex {
        justify-content: space-between;
        flex-direction: row;
    }

    .box-consulta {
        width: 350px;
    }

    .box-macro {
        width: 350px;
        top: 50px;
    }

    .box-presc {
        width: 70%;
    }

    .historico-presc h1 {
        margin: 60px 0;
    }

    .historico {
        margin: 5% auto;
        gap: 2.5rem;
    }
    .box-presc p {
        font-size: 13px;
    }
    .box-pre {
        width: 30%;
    }
    .camera {
        flex-direction: row;
        gap: 3rem;
        margin-bottom: 0;
    }
    .camera .icon  {
        font-size: 23px;
    }
    .footer-end {
        position: relative;
        /* bottom: 0; */
        width: 100%;
    }
    footer {
        position: relative;
        /* bottom: 0; */
        width: 100%;
    }

}