* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    width: 480px;
    /* height: 120px; */
    padding: 1%;
    margin-top: 10px;
    border-radius: 20px;
    /* border: 4px solid black; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.40);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row;
}

.box span {
    font-weight:500;
}

.gap-intern {
    display: flex;
    flex-direction: column;
    gap: .15rem;
}

.box-blue {
    background-color: #e1ecf6;
    /* border: 2px solid black; */
}

.box-green {
    background-color: #f2ddd4;
    /* border: 2px solid black; */
}



.img-responsivo {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-responsivo img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 3px solid black;
}

.img-responsivo p {
    text-align: center;
}

.botao {
    width: 90%;
    margin: 0 auto;
}

.add-consulta {
    display: block;
    margin-left: auto;
    width: 180px;
    height: 50px;
    border-radius: 8px;
    background: #5654B4;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
}

.box-macro {
    top: 50px;
    right: 20px;
    position: relative;
    width: 350px;
    padding: 5%;
    border: 2px solid black;
    background-color: white;
    z-index: 90;
    transition: all .6s ease-out;
    border-radius: 10px;
    /* box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.40); */
}


.box-consulta:hover {
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.40);
    background-color: rgb(226, 226, 226);
}

.box-consulta {
    border-radius: 10px;
    padding: 17% 1% 5% 5%;
    position: relative;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 0.5px 0.5px 10px 0px rgba(65, 65, 65, 0.4);
    background-color: white;
    transition: all .6s ease-out;

}





.macro-blue {
    background-color: #a2d1ff;  
}

.macro-green {
    background-color: #eec6b6;
}

.historico {
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.historico h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
}


.historico-presc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.historico-presc h1 {
    margin: 30px 0;
    font-weight: 800;
    color: white;
    font-size: 50px;
    border-bottom: 3px solid black;
    /* padding: 1%; */
    /* border-radius: 50px; */
    -webkit-text-stroke: 2px black; /* Borda da fonte no Safari/Chrome */
}

.box-presc {
    width: 95%;
    padding: .75%;
    
    /* height: 40px; */
    border-radius: 50px;
    background-color: #d9d9d9;
}