.wrapper-box {
   display: flex;
   flex-direction: column;
   height: 80vh;
   width: 95%;
   margin: 0 auto;
}

.wrapper-int {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.wrapper-icon {
   display: flex;
   flex-direction: row;
   align-items: center;

}

.wrapper-box span {
   color: red;
}
.text-info {
   background-color: rgb(214, 214, 214);
   box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
   border-radius: 20px;
}

.text-info p {
   margin: .5% 0;
   font-size: 15px;
}

.caixa-icon {
   display: flex;
   flex-direction: column;
}

.caixa div {
   background-color: #cfcfcf;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
   /* border: 3px solid black; */
   border-radius: 15px;
   margin-top: 5%;
}

.caixa div p {
   padding: 3%;
   text-align: center;
}

@media(min-width:375px) {
   .title-int {
      margin: 5% 0;
   }

   .caixa {
      width: 30%;
      padding: 1%;
   }

   .text-info {
      padding: .5% 3.5%;
      width: 100%;
      margin: 8% 0;
   }

   
   .wrapper-box span,
   .wrapper-box h1 {
      font-size: 40px;
   }
   .text-info p,
   .text-info span {
      font-size: 12px;
   }
}

@media(min-width:1200px) {
   .title-int {
      margin: 2% 0;
   }

   .caixa {
      width: 9%;
      padding: 1%;
   }

   .text-info {
      padding: .5% 1.5%;
      width: 35%;
      margin: 0;
   }

   .wrapper-box span,
   .wrapper-box h1 {
      font-size: 50px;
   }

   .text-info p,
   .text-info span {
      font-size: 15px;
   }

   .text-info span {
      color: rgb(198, 0, 0);
   }
}