
 .container-login {
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .index-button {
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.40);
    transition: all 0.5s;
  }

  #orange {
    background-color: #fba030;
  }
  #orange:hover {
    cursor: pointer;
    background-color: #fa8900;;
  }
  #blue {
    background-color: #157ae1;
  }
  #blue:hover {
    cursor: pointer;
    background-color: #005bb6;
    
  }

  .gap-index  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
  }

  .gap-index i {
    font-size: 3.75rem;
  }
  
  .margin {
    margin: 3% auto;
  }
  
  .login {
    top: 50%;
    left: 50%;
    padding: 10px 30px 30px;
    border-radius: 22px;
    background: white;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.40);
  }
  
  .login-form {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .busca-paciente {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .busca-paciente button {
    background-color: #157ae1;
    color: white;
    padding: 2%;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    transition: all 0.6s;
  }

  .busca-paciente button:hover {
    background-color: #004e9c;
    cursor: pointer;
}

  .textbox {
    width: 100%;
    position: relative;
  }
  
  .textbox span {
    position: absolute;
    top: 50%;
    left: 16px;
    translate: 0 -50%;
    color: black;
  }
  
  input:placeholder-shown{
    font-family: Inter;
    font-weight: 700;
    padding: 2%;
  }
  
  .login-form input {
    border: 2px solid black;
    padding: 0 20px 0 50px;
    border-radius: 8px;
  }
  
  .login-form input:focus {
    border-color: #157ae1;
  }
  
  .login-form input:focus ~ span {
    color: #157ae1;
  }

  .icon {
    display: block;
    padding: 2%;
    color: black;
    margin: 40px 0;
  }
  

  @media(min-width:375px){
    .index-button {
      width: 60vw;
      height: 11vh;
    }
    .gap-index {
      gap: 50px;
      flex-direction: column;
    }
    .login-form a {
      font-size: .875rem;
    }
    .container-login {
      width: 75%;
      height: 80vh;
    }
    .login-form input {
      font-size: .875rem;
    }
    .login-form input,
    .login-form button {
      width: 95%;
      height: 40px;
    }
  }

  @media(min-width:1200px){
    .index-button {
      width: 20vw;
      height: 10vh;
    }
    .gap-index {
      gap: 50px;
      flex-direction: row;
    }
    .login-form a {
      font-size: 1.5rem;
    }
    .container-login {
      width: 90%;
      margin: 5% auto;
      height: 60vh;
    }
    .login-form input {
      font-size: 1.125rem;
    }
    .login-form input,
    .login-form button {
      width: 100%;
      height: 60px;
    }
    
    /* .menu {
      position: relative;
      left: 0;
    } */
  }