
 .container-login {
    width: 90%;
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 24px; */
  }

  .margin {
    margin: 3% auto;
  }
  
  .login {
    /* position: fixed; */
    /* z-index: 3; */
    top: 50%;
    left: 50%;
    /* translate: -50% -50%; */
    /* width: 90%; */
    padding: 10px 30px 30px;
    border-radius: 22px;
    background: white;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.40);
  }
  
  
  .avatar {
    margin: 0 auto 16px;
    border-radius: 50%;
    /* background: linear-gradient(-45deg, #157ae1, #c7a1ff); */
    padding: 2px;
    width: 120px;
    height: 120px;
  }
  

  
  .login-form {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .busca-paciente {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  

  .busca-paciente button {
    /* display: block; */
    /* margin-left: auto; */
    background-color: #157ae1;
    color: white;
    padding: 2%;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    /* box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.40); */
    transition: all 0.6s;
  }

  .busca-paciente button:hover {
    background-color: #004e9c;
    cursor: pointer;
}



  .busca-paciente a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    /* padding: 5%; */
  }
  
  .textbox {
    width: 100%;
    position: relative;
  }
  
  .textbox span {
    position: absolute;
    top: 50%;
    left: 16px;
    translate: 0 -50%;
    color: black;
  }
  
  .login-form input,
  .login-form button {
    width: 100%;
    height: 60px;
    /* outline: none; */
    /* padding: 0; */
    /* font-family: inherit; */
    /* font-size: 16px; */
    border-radius: 8px;
  }
  
  input:placeholder-shown{
    font-family: Inter;
    font-weight: 700;
    padding: 2%;
  }
  
  .login-form input {
    /* background: transparent; */
    border: 2px solid black;
    font-size: 18px;
    padding: 0 20px 0 50px;
    /* color: inherit; */
  }
  
  .login-form input:focus {
    border-color: #157ae1;
  }
  
  .login-form input:focus ~ span {
    color: #157ae1;
  }
  
  .login-form button {
    cursor: pointer;
    border: 0;
  }

  .blue {
    background-color: #157ae1;
  }

  .orange {
    background-color: #fba030;
  }

  .login-form a {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #f9f9f9;
  }
   
  .icon {
    display: block;
    padding: 2%;
    margin: 40px 0;
    color: black;
  }
  

  @media(min-width:375px){
    .login-form a {
      font-size: 14px;
    }
    .container-login {
      width: 75%;
      /* margin: 15% auto; */
      height: 80vh;
    }
    .login-form input {
      font-size: 14px;
    }
    .login-form input,
    .login-form button {
      width: 95%;
      height: 40px;
    }
  }

  @media(min-width:1200px){
    .login-form a {
      font-size: 1.5rem;
    }
    .container-login {
      width: 90%;
      margin: 5% auto;
      height: 60vh;
    }
    .login-form input {
      font-size: 18px;
    }
    .login-form input,
    .login-form button {
      width: 100%;
      height: 60px;
    }
    
    /* .menu {
      position: relative;
      left: 0;
    } */
  }