* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid orange; */
}

html,
body { 
    font-size: 16px;
    font-family: Inter;
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */

}

header {
    padding: 10px 0;
    /* background-color: white; */
}

img {
    max-width: 100%;
}

p {
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-weight: 700;
}

.body-medico {
    background-image: url("../img/bg-doctor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);

}

.body-blue {
    background-image: url(../img/bg-blue3.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.body-paciente {
  background-image: url(../img/bg-paciente.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(8px);
}

.body-green {
    background-image: url(../img/bg-green3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.no-scrollbar {
    overflow-y: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    display: inline;
}

.menu li a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
}

.logo {
    /* padding: 1%; */
    width: 10%;
    /* background-color: white; */
    /* border-radius: 3px; */
}

footer {
    /* background-color: white; */
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    /* border-top: 1px solid black; */
}

.footer-login {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon {
    display: block;
    padding: 2%;
}