* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid orange; */
}

html,
body {
    font-size: 16px;
    font-family: Inter;
    height: 100vh;
    overflow-x: hidden;
}

header {
    padding: 1vh 0;
}

img {
    max-width: 100%;
}

p {
    color: #000;
    font-family: Inter;
    font-size: .8125rem;
    font-weight: 700;
}

.bg-login {
    background-image: url("../img/bg-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bg {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.no-scrollbar {
    overflow-y: hidden;
}


.wrappen {
    width: 89%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    display: inline;
}

.menu li a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

footer h1 {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
}

footer span {
    color: red;
    font-family: 'Archivo', sans-serif;
}

footer p {
    margin: 0 10px;
}
.footer-end {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon {
    display: block;
    transition: all 0.2s;
}

@media(min-width:375px) {
    .container {
        margin: 0 auto;
        width: 90%;
    }
    .logo {
        width: 28%;
    }

    .menu {
        position: absolute;
        top: 0;
        left: -220%;
    }

    .menu-button {
        border: none;
        padding: 10% 0;
        width: 60px;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
        font-weight: 600;
        border-radius: 5px;
    }

    .menu-button:hover{
        background-color: #004e9c;
        color: white;
    }

    .open  {
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 100;
        height: 100vh;
        width: 100vw;
    }

    .open li {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 0 auto;
        padding: 13px 0;
    }


    .open li a{
        background-color: white;
        margin: 0 auto;
        font-size: 1rem;
        padding: 2% 0;
        width: 40%;
        border-radius: 5px;
        color: darkblue;
        font-weight: 600;
        transition: all 0.3s;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
    }

    .open li a:hover{
        background-color: darkblue;
        color: white;
    }

    #xzao button{
        background-color: white;
        margin: 0 auto;
        font-size: 1rem;
        padding: 2% 0;
        width: 40%;
        border-radius: 5px;
        color: darkred;
        border: none;
        font-weight: 600;
        transition: all 0.3s;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
    }
    #xzao button:hover {
        background-color: darkred;
        color: white;
    }

    footer {
        width: 100%;
        padding: 5px;
    }

    footer p {
        font-size: .5625rem;
        font-weight: 400;
    }

    footer span,
    footer h1 {
        font-size: .75rem;
        /* border-top: 1px solid black; */
    }

}

@media(min-width:1200px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .menu-button {
        display: none;
    }

    .menu {
        position: relative;
        left: 0;
    }

    .xzao {
        display: none;
    }

    .xzao a {
        display: none;
    }

    .logo {
        width: 10%;
    }

    #xzao {
        display: none;
    }
    footer {
        width: 100%;
        padding: 10px;
    }
    footer p {
        font-size: .75rem;
        font-weight: 700;
    }
    footer h1,
    footer span {
        font-size: .875rem;
    }
}