* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid orange; */
}

html,
body {
    font-size: 16px;
    font-family: Inter;
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */

}

header {
    padding: 10px 0;
    /* background-color: white; */
}

img {
    max-width: 100%;
}

p {
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-weight: 700;
}

.body-medico {
    background-image: url("../img/bg-doctor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);

}

.body-blue {
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.99)),
        url(../img/bg-doctor.jpg); */
    background-image: url(../img/bg-doctor.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    /* backdrop-filter: opacity(100%); */
    backdrop-filter: blur(30px);

}


.body-paciente {
    background-image: url(../img/bg-paciente.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
}

.body-green {
    background-image: url(../img/bg-doctor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(30px);
}

.no-scrollbar {
    overflow-y: hidden;
}


.wrappen {
    width: 89%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    display: inline;
}

.menu li a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}

.logo {
    /* padding: 1%; */
    width: 10%;
    /* background-color: white; */
    /* border-radius: 3px; */
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
    /* background-color: white; */
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    /* border-top: 1px solid black; */
}

footer h1 {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
}

footer span {
    color: red;
    font-family: 'Archivo', sans-serif;
}



.footer-end {
    position: absolute;
    bottom: 0;
    width: 100%;
}



.icon {
    display: block;
    padding: 2%;
    font-size: 20px;
    transition: all 0.2s;
}

@media(min-width:375px) {
    .container {
        /* width: 90%; */
        margin: 0 auto;
    }
    .logo {
        width: 28%;
    }

    .menu {
        position: absolute;
        top: 0;
        left: -220%;
    }

    .menu-button {
        border: none;
        padding: 10% 0;
        width: 60px;
        background-color: white;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
        font-weight: 600;
        border-radius: 5px;
    }

    .menu-button:hover{
        background-color: #004e9c;
        color: white;
    }

    .open  {
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 100;
        height: 100vh;
        width: 100vw;
    }

    .open li {
        display: flex;
        text-align: center;
        flex-direction: column;
        /* background-color: white; */
        /* width: %; */
        margin: 0 auto;
        padding: 13px 0;
        /* background-color: white; */
    }


    .open li a{
        background-color: white;
        margin: 0 auto;
        font-size: 1rem;
        padding: 2% 0;
        width: 40%;
        border-radius: 5px;
        color: darkblue;
        font-weight: 600;
        transition: all 0.3s;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
    }

    .open li a:hover{
        background-color: darkblue;
        color: white;
    }

    #xzao button{
        background-color: white;
        margin: 0 auto;
        font-size: 1rem;
        padding: 2% 0;
        width: 40%;
        border-radius: 5px;
        color: darkred;
        border: none;
        font-weight: 600;
        transition: all 0.3s;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
    }
    #xzao button:hover {
        background-color: darkred;
        color: white;
    }

    footer {
        padding: 5px 5px;
    }

    footer p {
        font-size: 9px;
        font-weight: 400;
    }

    footer span,
    footer h1 {
        font-size: .75rem;
        /* border-top: 1px solid black; */
    }

}

@media(min-width:1200px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .menu-button {
        display: none;
    }

    .menu {
        position: relative;
        left: 0;
    }

    .xzao {
        display: none;
    }

    .xzao a {
        display: none;
    }

    .logo {
        width: 10%;
    }

    #xzao {
        display: none;
    }
    footer {
        padding: 10px 0;
    }
    footer p {
        font-size: 12px;
        font-weight: 700;
    }
    footer h1,
    footer span {
        font-size: 14px;
    }
}